.table {
  border: 2px black solid;
  height: 250px;
  overflow: auto;
  width: 50vw;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.tableContainer{
  width: 50vw;
  margin : auto;
}