table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

td,
th {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
